[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy
[submodule "lib/filesystem"]
	path = lib/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "lib/openexr"]
	path = lib/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "lib/Imath"]
	path = lib/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath
[submodule "lib/ctpl"]
	path = lib/ctpl
	url = https://github.com/vit-vit/CTPL
